<%= render 'components/header', header_text: 'Home' %>

<hr />

<div>
  Simple HTMX:
  <%=
    link_to(
      'HTMX get',
      home_hello_htmx_path,
      class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline',
      'hx-get' => home_hello_htmx_path,
      'hx-trigger' => 'click',
      'hx-target' => '#target'
    )
  %>
  [
  <%=
    link_to(
      'HTMX link boosted',
      home_hello_htmx_path,
      class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline',
      'hx-boost' => 'true',
      'hx-target' => '#target'
    )
  %>
  ]
  (
  <%=
    content_tag(
      :span,
      class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline',
      'hx-get' => home_hello_htmx_path,
      'hx-target' => '#target'
    ) do
  %>HTMX span<% end %>
  )
  <a
    hx-get="/not_found"
    hx-target="#target"
    class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer"
  >Not Found</a>

  <button
    hx-get="<%= home_hello_htmx_path %>"
    hx-target="#target"
  >
    Click Me!
    <%= image_tag 'tail-spin', alt: 'spinner', class: 'htmx-indicator bg-cyan-200' %>
  </button>
</div>

<div id="target">
</div>

