<%
title = []
title << "[#{ENV['RENDER_GIT_BRANCH']}] " if Environment.review_app?
title << 'WidgetApp'
%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title.join('') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to 'Home', root_path %>
      |
      <%= link_to 'Widgets', widgets_path %>
      |
      Rails ENV: <%= ENV['RAILS_ENV'] %>
      |
      PR deploy? <%= Environment.review_app? %>
      |
      <a href="/build">Client</a>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
